# PostgreSQL
POSTGRES_USER=langafy
POSTGRES_PASSWORD=langafy_dev
POSTGRES_DB=langafy

# Firebase Authentication
FIREBASE_PROJECT_ID=your-firebase-project-id

# Open Router API
OPENROUTER_API_KEY=your-openrouter-api-key

# Web app
NEXT_PUBLIC_API_URL=http://localhost:5000
